<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main>
  <h2>Login</h2>
  <% if (errors.length) { %>
    <ul>
      <% errors.forEach(err => { %>
        <li><%= err.msg %></li>
      <% }) %>
    </ul>
  <% } %>
  <form action="/users/login" method="POST">
    <label>
      Email:
      <input type="email" name="email" value="<%= old.email || '' %>" required>
    </label>
    <label>
      Contraseña:
      <input type="password" name="password" required>
    </label>
    <label>
      <input type="checkbox" name="remember"> Recuérdame
    </label>
    <button type="submit">Ingresar</button>
  </form>
</main>

<%- include('../partials/footer') %>
</body>
